@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-everglade-50: #f1f8f3;
  --color-everglade-100: #dcefdf;
  --color-everglade-200: #bcdec4;
  --color-everglade-300: #8fc6a0;
  --color-everglade-400: #5fa877;
  --color-everglade-500: #3e8b5b;
  --color-everglade-600: #2c6f46;
  --color-everglade-700: #23593a;
  --color-everglade-800: #214e34;
  --color-everglade-900: #193b28;
  --color-everglade-950: #0d2116;

  --color-east-bay-50: #f4f6fa;
  --color-east-bay-100: #e6e9f3;
  --color-east-bay-200: #d2d8eb;
  --color-east-bay-300: #b3bfdd;
  --color-east-bay-400: #8f9ecb;
  --color-east-bay-500: #7481bd;
  --color-east-bay-600: #6169af;
  --color-east-bay-700: #565a9f;
  --color-east-bay-800: #4f518c;
  --color-east-bay-900: #3f4269;
  --color-east-bay-950: #292a42;

  --color-conch-50: #f3f6f4;
  --color-conch-100: #e1eae3;
  --color-conch-200: #ccdad1;
  --color-conch-300: #9eb7a8;
  --color-conch-400: #739482;
  --color-conch-500: #537664;
  --color-conch-600: #3e5d4d;
  --color-conch-700: #324a3f;
  --color-conch-800: #293c34;
  --color-conch-900: #22322b;
  --color-conch-950: #131b18;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
  
  --color-neutral-50: var(--ui-color-neutral-50);
  --color-neutral-100: var(--ui-color-neutral-100);
  --color-neutral-200: var(--ui-color-neutral-200);
  --color-neutral-300: var(--ui-color-neutral-300);
  --color-neutral-400: var(--ui-color-neutral-400);
  --color-neutral-500: var(--ui-color-neutral-500);
  --color-neutral-600: var(--ui-color-neutral-600);
  --color-neutral-700: var(--ui-color-neutral-700);
  --color-neutral-800: var(--ui-color-neutral-800);
  --color-neutral-900: var(--ui-color-neutral-900);
  --color-neutral-950: var(--ui-color-neutral-950); 

  --transition-property-height: height;

  --aspect-auto: auto;
  --aspect-square: 1 / 1;
  --aspect-video: 16 / 9;

  --font-main: Inter, sans-serif;
}
@layer base {

  html, body, #__nuxt {
    @apply min-h-full h-full
  }

	::-webkit-scrollbar {
		width: 0.6em;
		height: 0.6em;
		@apply bg-transparent;
	}

	::-webkit-scrollbar-track {
		@apply bg-neutral-800 dark:bg-neutral-800;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0.6em;
		@apply bg-neutral-400 hover:bg-gray-700;
	}
}