@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --color-crusta-50: #fff5ed;
  --color-crusta-100: #ffe8d4;
  --color-crusta-200: #ffcca8;
  --color-crusta-300: #ffa871;
  --color-crusta-400: #ff7837;
  --color-crusta-500: #fe5411;
  --color-crusta-600: #ef3a07;
  --color-crusta-700: #c62708;
  --color-crusta-800: #9d210f;
  --color-crusta-900: #7e1e10;
  --color-crusta-950: #440b06;

  --color-primary-50: var(--ui-color-primary-50);
  --color-primary-100: var(--ui-color-primary-100);
  --color-primary-200: var(--ui-color-primary-200);
  --color-primary-300: var(--ui-color-primary-300);
  --color-primary-400: var(--ui-color-primary-400);
  --color-primary-500: var(--ui-color-primary-500);
  --color-primary-600: var(--ui-color-primary-600);
  --color-primary-700: var(--ui-color-primary-700);
  --color-primary-800: var(--ui-color-primary-800);
  --color-primary-900: var(--ui-color-primary-900);
  --color-primary-950: var(--ui-color-primary-950);
  
  --color-neutral-50: var(--ui-color-neutral-50);
  --color-neutral-100: var(--ui-color-neutral-100);
  --color-neutral-200: var(--ui-color-neutral-200);
  --color-neutral-300: var(--ui-color-neutral-300);
  --color-neutral-400: var(--ui-color-neutral-400);
  --color-neutral-500: var(--ui-color-neutral-500);
  --color-neutral-600: var(--ui-color-neutral-600);
  --color-neutral-700: var(--ui-color-neutral-700);
  --color-neutral-800: var(--ui-color-neutral-800);
  --color-neutral-900: var(--ui-color-neutral-900);
  --color-neutral-950: var(--ui-color-neutral-950); 

  --transition-property-height: height;

  --aspect-auto: auto;
  --aspect-square: 1 / 1;
  --aspect-video: 16 / 9;

  --font-main: Inter, sans-serif;
}
@layer base {

  html, body, #__nuxt {
    @apply min-h-full h-full
  }

	::-webkit-scrollbar {
		width: 0.6em;
		height: 0.6em;
		@apply bg-transparent;
	}

	::-webkit-scrollbar-track {
		@apply bg-neutral-800 dark:bg-neutral-800;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0.6em;
		@apply bg-neutral-400 hover:bg-gray-700;
	}
}